@font-face {
    font-family: "flaticon";
	font-display: swap;
    src: url("./flaticon.ttf?ea52c97bc01d9457c0432636e41853b9") format("truetype"),
url("./flaticon.woff?ea52c97bc01d9457c0432636e41853b9") format("woff"),
url("./flaticon.woff2?ea52c97bc01d9457c0432636e41853b9") format("woff2"),
url("./flaticon.eot?ea52c97bc01d9457c0432636e41853b9#iefix") format("embedded-opentype"),
url("./flaticon.svg?ea52c97bc01d9457c0432636e41853b9#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-mail:before {
    content: "\f101";
}
.flaticon-telephone-call:before {
    content: "\f102";
}
.flaticon-maps-and-flags:before {
    content: "\f103";
}
.flaticon-time:before {
    content: "\f104";
}
.flaticon-facebook:before {
    content: "\f105";
}
.flaticon-instagram:before {
    content: "\f106";
}
.flaticon-telegram:before {
    content: "\f107";
}
